
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.home_content
{
    width: 423px;
    background: rgba(#1e1332, .7);
    padding-left: 47px;
    padding-top: 41px;
    padding-bottom: 48px;
    padding-right: 50px;
    margin-top: 2.5rem;
}

.home_contents{
    width: 100%;
    position: absolute;
    top: 50%;
    padding-top: 1rem;
    height: 100%;
}
